button {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.2rem;
  display: block;
  margin: 20px auto;
  border: none;
  background: var(--green);
  padding: 10px 20px;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
  text-align:center;
}

h2 {
  font-size: 1.4rem;
}

textarea {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.2rem;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background-color: var(--white);
  padding: 10px;
}

textarea:disabled {
  background-color: var(--grey);
}

