button {
  font-family: 'Oxygen Mono', monospace;
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
}

h1 {
  font-size: 20px;
  text-align:center;
}

textarea {
  font-family: 'Oxygen Mono', monospace;
  border: 3px solid black;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background-color: #00b800;
  padding: 10px;
}

textarea:disabled {
  background-color: gainsboro;
}

